extends ./layout/index

block contenido 
    main.container.mt-5 
        div.row
            div.col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            div.col-md-7
                h1 #{pagina}
                blockquote Lorem fistrum va usté muy cargadoo se calle ustée sexuarl va usté muy cargadoo condemor te va a hasé pupitaa quietooor a gramenawer te voy a borrar el cerito va usté muy cargadoo. La caidita la caidita va usté muy cargadoo a peich diodenoo de la pradera te va a hasé pupitaa. 
                p Lorem fistrum va usté muy cargadoo se calle ustée sexuarl va usté muy cargadoo condemor te va a hasé pupitaa quietooor a gramenawer te voy a borrar el cerito va usté muy cargadoo. La caidita la caidita va usté muy cargadoo a peich diodenoo de la pradera te va a hasé pupitaa.
                p Lorem  Me cago en tus muelas no puedor al ataquerl por la gloria de mi madre no puedor apetecan ese hombree diodeno diodeno. Jarl me cago en tus muelas pupita torpedo ese que llega ahorarr a gramenawer condemor de la pradera está la cosa muy malar.

    div.listado-iconos 
        div.container.mt-5.py-5.text-center
            div.row 
                div.col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem fistrum va usté muy cargadoo se calle ustée sexuarl va usté muy cargadoo condemor te va a hasé pupitaa quietooor a gramenawer te voy a borrar el cerito va usté muy cargadoo.

                div.col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Lorem fistrum va usté muy cargadoo se calle ustée sexuarl va usté muy cargadoo condemor te va a hasé pupitaa quietooor a gramenawer te voy a borrar el cerito va usté muy cargadoo.

                div.col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Lorem fistrum va usté muy cargadoo se calle ustée sexuarl va usté muy cargadoo condemor te va a hasé pupitaa quietooor a gramenawer te voy a borrar el cerito va usté muy cargadoo.